html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    gap: 20px;
}

#calculator-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}

button {
    height: 70px;
    width: 70px;
    font-size: 50px;
}

#calculator-outputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100px;
    gap: 10px;
}

.outputs {
    border: 1px solid black;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

#numbers-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}